@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(100deg, #352865 2.76%, #FFB6E5 97.9%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  min-width: 1080px;
  min-height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pads {
  -webkit-box-flex: 75;
      -ms-flex: 75;
          flex: 75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-pads {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 100px 20px;
}

.right-pads {
  width: 380px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 100px 20px;
}

.pad {
  width: 180px;
  height: 180px;
  background-color: #FEF6EC;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-spacing: 20px;
  -webkit-box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  color: #606060;
  -webkit-transition: all .1s;
  transition: all .1s;
  cursor: pointer;
}

.pad:hover {
  -webkit-box-shadow: 2px 15px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 15px 30px -5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.pad:active {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.pad-icon {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.loop-pads {
  -webkit-box-flex: 15;
      -ms-flex: 15;
          flex: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loop-pad {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #FEF6EC;
  -webkit-transition: all .1s;
  transition: all .1s;
  cursor: pointer;
}

.loop-pad:hover {
  -webkit-box-shadow: 2px 15px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 15px 30px -5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.loop-pad:active {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

#loop-pad-one {
  background-color: #DE3D41;
}

#loop-pad-two {
  background-color: #F0E259;
}

#loop-pad-three {
  background-color: #5A94BE;
}

#loop-pad-four {
  background-color: #9C77B9;
}

.playing {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
/*# sourceMappingURL=style.css.map */