@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none
    font-family: 'Press Start 2P', cursive
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.wrapper
    min-height: 100vh
    width: 100%
    display: flex
    background: linear-gradient(100deg, #352865 2.76%, #FFB6E5 97.9%)
    justify-content: center
    align-items: center

.container
    min-width: 1080px
    min-height: 610px
    display: flex
    flex-direction: column
    //border: dashed yellow

.pads
    flex: 75
    display: flex
    justify-content: space-between
    //border: dashed red

.left-pads
    width: 380px
    display: flex
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    gap: 100px 20px
    //border: dashed orange

.right-pads
    width: 380px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    gap: 100px 20px
    //border: dashed purple

.pad
    width: 180px
    height: 180px
    background-color: #FEF6EC
    border-radius: 20px
    display: flex
    flex-direction: column-reverse
    flex-wrap: wrap
    justify-content: center
    align-items: center
    border-spacing: 20px
    -webkit-box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2)
    -moz-box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2)
    box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2)
    font-size: 30px
    color: #606060
    transition: all .1s
    cursor: pointer
    &:hover
        box-shadow: 2px 15px 30px -5px rgba(0, 0, 0, 0.2)
        transform: scale(1.03)
    &:active
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15)
        transform: scale(.98)

.pad-icon
    width: 50px
    height: 50px
    margin: 20px

.loop-pads
    flex: 15
    display: flex
    justify-content: space-between
    align-items: center
    //border: dashed blue

.loop-pad
    width: 180px
    height: 60px
    border-radius: 30px
    -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.2)
    -moz-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.2)
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.2)
    display: flex
    justify-content: center
    align-items: center
    font-size: 30px
    color: #FEF6EC
    transition: all .1s
    cursor: pointer
    &:hover
        box-shadow: 2px 15px 30px -5px rgba(0, 0, 0, 0.2)
        transform: scale(1.03)
    &:active
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15)
        transform: scale(.98)

#loop-pad-one
    background-color: #DE3D41

#loop-pad-two
    background-color: #F0E259

#loop-pad-three
    background-color: #5A94BE

#loop-pad-four
    background-color: #9C77B9

.playing
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15)
    transform: scale(.98)
